backend:
  name: git-gateway

media_folder: source/images/uploads
public_folder: /images/uploads

#publish_mode: editorial_workflow #optional, enables publishing workflow

collections:
  #yaml middleman data example
  - name: product
    label: Продукт
    format: yml
    extension: yml
    folder: data/products/
    create: true
    slug: '{{title}}'
    fields:
      - {label: Название, name: title, widget: string, required: true}
      - {label: Publish Date, name: date, widget: datetime}
      - {label: Картинка, name: image, widget: image, required: true}
      - {label: Вес, name: weight, widget: number}
      - {label: Цена, name: price, widget: number}
      - {label: Описалово, name: body, widget: markdown}
  - name: funds
    label: Фонд
    format: yml
    extension: yml
    folder: data/funds/
    create: true
    slug: '{{fund}}'
    fields:
      - {label: Название, name: title, widget: string, required: true}
      - {label: Управляющая компания, name: company, widget: string, required: true}
      - {label: Дата формирования, name: date, widget: datetime}      
      - {label: Стоимость пая, name: price, widget: number}
      - {label: Описалово, name: body, widget: markdown}
#markdown middleman blog example
  - name: blog
    label: Блог
    folder: source/posts/
    extension: .html.md
    format: frontmatter
    create: true
    slug: '{{title}}'
    fields:
      - {label: Title, name: title, widget: string, required: true}
      - {label: Publish Date, name: date, widget: datetime}
      - {label: Description, name: description, widget: string}
      - {label: Image, name: image, widget: image}
      - {label: Body, name: body, widget: markdown}

  - name: pages
    label: Pages
    files:
      - file: "data/pages/home.yml"
        label: Homepage
        name: home
        fields:
          - label: Hero
            name: hero
            widget: object
            fields:
              - {label: Title, name: title, widget: string}
              - {label: Image, name: image, widget: image}
          - label: Story
            name: story
            widget: markdown

  - name: settings
    label: Настройки
    files:
      - file: data/settings/navigation.yml
        label: Меню
        name: navigation
        fields:
          - label: Navigation
            name: nav_items
            widget: list
            fields:
              - {label: Label, name: label, widget: string}
              - {label: Path, name: path, widget: string}
      - file: data/settings/units.yml
        label: Единицы измерения
        name: units
        fields:
          - label: Валюта
            name: currency
            widget: select
            options: ['Р','€', '$', '£']
            default: 'Р'

          - label: Вес
            name: weight
            widget: select
            options: ['кг', ' st', ' lb']
            default: 'кг'
